# Ignore settings
data/_admins.json
data/_courses.json
data/_keys.json
data/_locked.json
data/_ratelimit.json
data/_record.json
data/_logs.log
steamauth/SteamConfig.php

# Ignore courses
courses/*
!courses/.htaccess