body {
	font-family: "HeadUpDaisy";
	background-color: #171717;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

table {
	margin-left: 50px;
	margin-top: 20px;
}

.panel {
	background-color: #292929;
	padding: 1px;
}

.panel h1 {
	font-size: 24px;
	font-weight: bold;
	padding-left: 10px;
}

.body-info {
	font-size: 20px;
	margin-left: 50px;
}

.square {
	width: auto;
	max-width: 200px;
	height: 35px;
	background-color: #292929;
	border: 1px solid #ffffff;
	text-align: center;
	line-height: 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: HeadUpDaisy;
	font-size: 20px;
	padding-right: 30px;
	padding-left: 30px;
}

.button {
	background-color: #292929;
	border: none;
	color: white;
	padding: 16px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

::selection {
		background-color: #121212;
		color: #7a7a7a;
}